flask
flask-cors

# OCR
pytesseract
Pillow
PyMuPDF

# LangChain core + plugins
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
python-dotenv

# Embedding + vector DB
openai
faiss-cpu